body {
}

.productsContainer h2 {
    background-color: #d27e76;
}

.photoheader {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered h1 {
        font-weight: bold;
        font-size: 150px;
        color: black;
        font-family: 'Summer Festival';
        text-shadow: 2px 2px whitesmoke;
}

    .centered p {
        font-size: 20px;
        color: black;
        background-color: aliceblue;
    }

/*gallery*/

* {
    box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.gallery {
    direction: ltr;
    width: auto;
    height: 500px;
    margin: 100px auto 200px auto;
    margin-bottom: 300px;
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: #d27e76;
    }

/* Number text (1/3 etc) */
.numbertext {
    color: black;
    font-family: Assistant;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    padding: 2px 16px;
    color: black;
    position: absolute;
    top: 16px;
    right: -550px;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px whitesmoke;
    
}

    .caption-container p {
        font-size: 20pt;
        font-weight:500;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

    .gallery .active,
    .demo:hover {
        opacity: 1;
        border: solid #d27e76;
    }

.productsContainer {
    margin-top: 100px;
    margin-bottom:100px;
}

.bracelent {
    display: inline-block;
    object-fit: cover;
    width: 20vw;
    height: 37.5vh;
}

.products {
    display: flex;
    width: 100%;
    height: auto;
    text-align: center;
}

.imgT {
    align-content: center;
    flex: 1;
    
}